<html>
<head>
  <%= stylesheet_link_tag 'styles' %>
</head>
<body>
<h1>Data de Vencimento Calculada</h1>

<p>A data de vencimento calculada é: <%= @due_date %></p>

<%= link_to 'Voltar à Lista de Clientes', customers_path %>
</body>
</html>